@font-face {
    font-family: 'Alaska';
    src: url('assets/Alaska-VF.ttf') format('truetype');
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    background: #f2f2f2;
    font-family: 'Alaska', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100%;
}
